<footer>
  <nav class="round">
         <ul>
           <li><%= link_to "About", about_path %></li>
           <li><%= link_to "Contact", contact_path %></li>
           <li><%= link_to "News", 'http://fibra.lt/' %></li>
           <li><%= link_to "BoBo", 'http://bo-bo.lt' %></li>
         </ul>
   </nav>
</footer>